<div class="form-row">
    <div class="form-item">
        <label for="name">Title</label>
        <input type="text" name="title" value="<%= book.title %>"></input>
    </div>
    <div class="form-item">
        <label for="name">Author</label>
        <select name="author">
        <% authors.forEach(author=>{ %>
            <% if(author.id===book.author){ %> 
                <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
            <% }else{ %>
                <option label="<%= author.name %>" value="<%= author.id %>"></option>
            <% } %> 
        <% }) %>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="name">Publish Date</label>
        <input type="date" name="publishDate" value="<%= book.publishDate == null ? "" : book.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label for="name">Page Count</label>
        <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>"></input>
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label for="name">Cover</label>
        <input type="file" name="cover" class="book-cover filepond"></input>
    </div>
    <div class="form-item">
        <label for="name">Description</label>
        <textarea name="description"><%= book.description %> </textarea>
    </div>
</div>


<script>
    const rootStyles = window.getComputedStyle(document.documentElement)
    if(rootStyles.getPropertyValue('--book-cover-width-large')!=null && rootStyles.getPropertyValue('--book-cover-width-large')!=''){
        ready()
    }else{
        document.getElementById('main-css').addEventListener('load',ready)
    }
    function ready(){
        const coverWidth = parseFloat(rootStyles.getPropertyValue('--book-cover-width-large'))
        const aspectRatio = parseFloat(rootStyles.getPropertyValue('--book-cover-aspect-ratio'))
        const coverHeight = coverWidth/aspectRatio
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginImageResize);
        FilePond.registerPlugin(FilePondPluginFileEncode);
        FilePond.setOptions({
        stylePanelAspectRatio: 150/100,
        imageResizeTargetWidth:100,
        imageResizeTargetHeight:150,
    });
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement);
    }
   
    
</script>




